* {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.settings-button {
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
}

.settings-button:hover {
    -fx-background-color: white;
}

.footer {
    -fx-background-color: lightgray;
}

.tab {
    -fx-background-radius: 0;
}

.text-field {
    -fx-border-color: lightgray;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.text-field:focused {
    -fx-border-color: lightgray;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.debug {
	-fx-background-color: yellow;
}

.settings-row {
	-fx-background-color: gray;
	-fx-margin: 20;
}