* {
	font-family: Times New Roman;
}

body {
	padding: 10px;
	display: block;
}

h1 {
    display: block;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10;
}

h2 {
    display: block;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10;
}

h3 {
    display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10;
}

div {
    display: block;
}

p {
	display: block;
	margin-top: 12px;
	margin-bottom: 12px;
}

a {
	color: blue;
	display: inline;
}

b {
	font-weight: bold;
	display: inline;
}

span {
	display: inline;
}

text {
	display: inline;
}

tt {
	display: inline;
	font-family: Consolas;
}

pre {
    display: inline;
	font-family: Consolas;
}

hr {
    display: block;
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;
}

code {
	display: inline;
	font-family: Consolas;
}

strong, em {
	display: inline;
	font-weight: bold;
}

table {
    display: block;
}

td {
	display: inline;
}

center {
    display: inline;
	text-align: center;
}

ul, ol {
    display: block;
    padding-left: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}

li {
    display: list-item;
}

table {
    display: table;
}

tr {
    display: table-row;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

td, th {
    display: table-cell;
}

caption {
    display: table-caption;
}

img {
    display: inline-block;
}
