body {
    background-color: white;
	padding: 10px;
	display: block;
}

h1 {
    display: block;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10;
}

h2 {
    display: block;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10;
}

h3 {
    display: block;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10;
}

header {
    display: block;
}

div {
    display: block;
}

p {
	display: block;
	margin-top: 12px;
	margin-bottom: 12px;
}

a {
	color: blue;
	display: inline;
}

b {
	font-weight: bold;
	display: inline;
}

i {
    display: inline;
}

span {
	display: inline;
}

text {
	display: inline;
}

tt {
	display: inline;
	font-family: Consolas;
}

pre {
    display: block;
	font-family: Consolas;
}

hr {
    display: block;
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: black;
}

code {
	display: inline;
	font-family: Consolas;
}

strong {
	display: inline;
	font-weight: bold;
}

em {
    display: inline;
    font-style: italics;
}

table {
    display: block;
}

td {
	display: inline;
}

center {
    display: block;
	text-align: -webkit-center;
}

ul, ol {
    display: block;
    padding-left: 40px;
    margin-top: 12px;
    margin-bottom: 12px;
}

li {
    display: list-item;
}

table {
    display: table;
    text-align: left;
}

tr {
    display: table-row;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

td, th {
    display: table-cell;
}

caption {
    display: table-caption;
}

img {
    display: inline-block;
}

aside {
    display: block;
}

br {
    display: inline;
}

blockquote {
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 40px;
    margin-right: 40px;
}

noscript {
    display: inline;
}

sup {
    display: inline;
    font-size: 10px;
}

small {
    display: inline;
}

input {
    display: none;
}

label {
    display: inline;
}

button {
    display: inline;
}

form {
    display: none;
}

nav {
    display: block;
}

main {
    display: block;
}

meta {
    display: none;
}

cite {
    display: inline;
}

abbr {
    display: inline;
}

footer {
    display: block;
}

u {
    display: inline;
}

*[align=left] {
    text-align: -webkit-left;
}

*[align=center] {
    text-align: -webkit-center;
}

*[align=right] {
    text-align: -webkit-right;
}