* {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.title {
	-fx-font-size: 18;
	-fx-text-alignment: center;
}

.row_text {
	-fx-font-size: 15;
	-fx-text-fill: #828282;
}

.row_text_expanded {
	-fx-text-fill: #3a67ab;
	-fx-font-weight: bold;
}

.render_node_row {
	-fx-cursor: hand;
	-fx-border-color: white white #b0b0b0 white;
}