.inspector_container {
    -fx-background-color: #202124;
}

.inspector_tab {
    -fx-background-color: #2e3033;
    -fx-padding: 0 10 0 10;
    -fx-background-radius: 0;
}

.inspector_tab .tab-label {
	-fx-font-size: 100%;
}

.inspector_tab_selected {
    -fx-background-color: #202124;
}

.inspector_elements_split_pane {
    -fx-background-color: #202124;
}

/* CSS for the render tree panel */

.render_tree {
    -fx-background: #202124;
    -fx-font-family: Consolas;
}

.render_tree_row {
    -fx-background-color: #202124;
}

.render_tree_row_selected {
    -fx-background-color: #073d69;
}

.render_tree_row_hovered {
    -fx-background-color: #232a36;
}

.render_tree_row_arrow_container {
    -fx-cursor: hand;
}

.render_tree_row_content_pane {
    -fx-cursor: hand;
}

.render_tree_row_html {
    -fx-fill: #52b5e3;
}

.render_tree_row_ellipses {
    -fx-fill: white;
}

.render_tree_row_attribute_name {
    -fx-fill: #9bbbdc;
}

.render_tree_row_attribute_value {
    -fx-fill: #f29766;
}

/* CSS for the render node details panel */

.inspector_render_node_details {
    -fx-background-color: white;
}

/* CSS for the settings panel */

.settings_panel {
    -fx-background: transparent;
    -fx-font-family: Consolas;
}

.settings_panel .settings_toggle {
    -fx-padding: 0 10 0 10;
    -fx-background-color: transparent;
}

.settings_toggle_label {
    -fx-text-fill: #61afef;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}

.settings_toggle_value {
    -fx-text-fill: #98c379;
    -fx-font-weight: bold;
    -fx-pref-height: 40px;
}

.settings_toggle_value:hover {
    -fx-cursor: hand;
}

.settings_toggle_value_off {
    -fx-text-fill: #8f95a1;
    -fx-font-weight: bold;
}