* {
	font-family: Times New Roman;
}

h1 {
	font-size: 40;
	font-weight: bold;
	margin-bottom: 10;
	width: 100%;
}

h2 {
	font-size: 20;
	font-weight: bold;
}

h3 {
	font-size: 15;
	font-weight: bold;
}

div {
	width: 100%;
}

p {
	display: block;
	width: 100%;
}

a {
	color: blue;
	display: inline;
}

b {
	font-weight: bold;
	display: inline;
}

span {
	display: inline;
}

text {
	display: inline;
}

tt {
	display: inline;
	font-family: Consolas;
}

pre {
	font-family: Consolas;
	width: 100%;
}

hr {
	height: 2;
	margin: 5px;
	width: 100%;
}

code {
	display: inline;
}